<!--<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="stas.controller.js"></script>
        <script type="text/javascript" src="stas.data.js"></script>
        <link rel="stylesheet" href="stas.css">
    </head>
    <body>
    -->
   <navbar></navbar>
      <h1>Hello {{ $ctrl.name }}</h1>
      <section>
        <div class="stas">
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>ID:</th>
                  <th>Email:</th>
                  <th>Firstname:</th>
                  <th>Lastname:{{10+10}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in $ctrl.data" class="info">
                    <td>{{x.id}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.firstname}}</td>
                    <td>{{x.lastname}}</td>
                </tr>
            </table>
          </div>    
     
  </section> 
   <!-- </body>
</html>-->