<navbar></navbar>
<h1>Hello {{ $ctrl.name }}</h1>
<section>
  <div ng-repeat="product in $ctrl.data">
    <p>{{product.name}} {{product.nick}} {{product.age}}</p>
  </div>
  <form ng-submit="addReview(data)">
    <input type="text" ng-model="review.body" name="ngname"/>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit Review" />
    </fieldset>
  </form>
  
  <p>{{review.body}}</p>
</section>
